<!-- templates/staff/manager_dashboard.html -->
{% extends "base.html" %}

{% block title %}لوحة تحكم المدير{% endblock %}

{% block content %}
<h2 class="mb-4">مرحباً {{ user.full_name }} 👋</h2>

<div class="list-group">

    <!-- Users -->
    <a href="{% url 'staff_list' %}"
       class="list-group-item list-group-item-action">
       👥 إدارة المستخدمين
    </a>

    <!-- Products / Inventory -->
    <a href="{% url 'inventory:product_list' %}"
       class="list-group-item list-group-item-action">
       📦 إدارة المنتجات
    </a>

    <!-- Sales -->
    
     <a href=""
       class="list-group-item list-group-item-action">
       💵 المبيعات
    </a>

    <!-- Expenses -->
    
     <a href=""
       class="list-group-item list-group-item-action">
       💸 المصروفات
    </a>

    <!-- Reports -->
    <a href=""
       class="list-group-item list-group-item-action">
       📊 التقارير
    </a>

    <!-- Security -->
    <a href="{% url 'change_password' %}"
       class="list-group-item list-group-item-action">
       🔐 تغيير كلمة المرور
    </a>

</div>
{% endblock %}
